.container {
    line-height: 15px;
    padding-right: 20px;
}

.content {
    float: right;
}

.userEmail {
    color: white;
}

.contentRight {
    padding: 5px;
}

.logOutButton {
    margin-top: 5px;
}