.appWrapper {
    display: grid;
    width: 100%;
    margin: 0 auto;

    grid-template-areas:
        'header header'
        'nav content';

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.appWrapperContent {
    grid-area: content;
    background-color: darkgrey;
}


.center {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
