.header {
    grid-area: header;
    background-color: darkcyan;
    padding: 0;
}

.logo2 {
    width: 50px;
}

.initializedUser {
    width: 50px;
    margin-right: 10px;
    float: right;
}

.button {
    margin: 15px 10px 0 0;
    padding: 5px;
    float: right;

}