.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.dialog{
    color: white;
    text-decoration: none;
}

.dialog:focus{
    color: gold;
    font-weight: bold;
}

.message {
}

