.container {
    height: 64px;
    padding: 5px 20px 0;
    color: rgba(0, 0, 0, 0.85);
    line-height: 10px;
    background: #001529
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.userEmail {
    color: white;
}

.contentRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

