.avatar {
    width: 250px;
}

.contact {
    display: flex;
    padding-left: 13px;
}

.profileDescription{
    padding-top: 20px;
}


@media screen and (max-width: 768px){
    .avatar {
        max-width: 100%;
    }
}